day_1/target/*
day_2/target/*
day_3/target/*
day_4/target/*
day_5/target/*
day_6/target/*
day_7/target/*
day_8/target/*
day_9/target/*
day_10/target/*
day_11/target/*
day_12/target/*
day_13/target/*
day_14/target/*
day_15/target/*
day_16/target/*
day_17/target/*
day_18/target/*
day_19/target/*
day_20/target/*
day_21/target/*
day_22/target/*
day_23/target/*
day_24/target/*
day_25/target/*